<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <extensions>
    <add assembly="TelemetryBridge.NLog" />
    <add assembly="NLog.Targets.OpenTelemetryProtocol" />
  </extensions>
  <targets async="true">
    <target xsi:type="Console"
            name="existingConsole"
            layout="${longdate}|${level}|trace=${telemetrybridge-correlation:item=TraceId}|span=${telemetrybridge-correlation:item=SpanId}|${message} ${exception:format=tostring}" />
    <target xsi:type="OtlpTarget"
            name="legacyOtlp"
            serviceName="${environment:variable=OTEL_SERVICE_NAME:default=telemetrybridge-legacy-api}"
            includeFormattedMessage="true"
            scheduledDelayMilliseconds="1000">
      <resource name="deployment.environment.name"
                layout="${environment:variable=DEPLOYMENT_ENVIRONMENT:default=Development}" />
      <attribute name="trace.id" layout="${telemetrybridge-correlation:item=TraceId}" />
      <attribute name="span.id" layout="${telemetrybridge-correlation:item=SpanId}" />
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="existingConsole,legacyOtlp" />
  </rules>
</nlog>
